@media (max-width: 500px) {

  .container {
    padding: 15px;
    border-radius: 16px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .search-area {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .forecast-container {
    justify-content: flex-start;
  }
}